{% extends "AppEntregable1/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}

<h2>COSTOS</h2>
    <br>
    

    <h3>Ingresa el mes y los costos totales:</h3>
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    {% if miFormulario.errors %}

    <p style="color: rgb(68, 0, 255);"> Están mal los datos, revisar</p>

    {% endif %}
    <form action="" method="POST">{% csrf_token %}

        <!-- Acá está la magia de Django-->
        
        <table>
            {{ miFormulario.as_table }}
        </table>

        <input type="submit", value="Guardar">

    </form>

{% endblock %}